---
import Layout from '../layouts/Layout.astro'
---

<Layout title='About the Project'>
  <main>
    <h1 class='text-gray-300 text-2xl font-bold'>About the Project</h1>
    <p>The SpaceX launches project is a demo for the Astro course</p>
  </main>
</Layout>
