---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout title='SpaceX Launches'>
  <p class='text-gray-300 font-bold text-sm'>La página principal</p>
</Layout>
