---
interface Props {
  name: string
  id: string
  image: string
  success: boolean
  flightNumber: number
}

const { name, id, image, success, flightNumber } = Astro.props
const LaunchStatus = success === true ? 'Success' : 'Failure'
---

<a href={`/launch/${id}`}>
  <picture>
    <img src={image} alt='name' />
  </picture>

  <header>
    <span>{LaunchStatus}</span>
    <h2>Flight #{flightNumber}</h2>
  </header>
</a>
